# options = --force
when = {{ when|default('') }}

[source]
type = {{ type|default('local') }}
keep = {{ keep|default('30D') }}

# A few notes about includes and excludes:
# 1. include, exclude and vsinclude statements support globbing with '*'
# 2. Symlinks are not dereferenced. Moreover, an include line whose path
#    contains, at any level, a symlink to a directory, will only have the
#    symlink backed-up, not the target directory's content. Yes, you have to
#    dereference yourself the symlinks, or to use 'mount --bind' instead.
#    Example: let's say /home is a symlink to /mnt/crypt/home ; the following
#    line will only backup a "/home" symlink ; neither /home/user nor
#    /home/user/Mail will be backed-up :
#      include = /home/user/Mail
#    A workaround is to 'mount --bind /mnt/crypt/home /home' ; another one is to
#    write :
#      include = /mnt/crypt/home/user/Mail
# 3. All the excludes come after all the includes. The order is not otherwise
#    taken into account.

# files to include in the backup
{%- for inc in include|default([]) %}
include = {{ inc }}
{% endfor %}

# files to exclude in the backup
{%- for excl in exclude|default([]) %}
exclude = {{ excl }}
{% endfor %}

######################################################
## destination section
## (where the files are copied to)

[dest]
type      = {{ dest.type|default('remote') }}
directory = {{ dest.directory|default('') }}
host      = {{ dest.host|default('') }}
user      = {{ dest.user|default('') }}
